<!DOCTYPE html>
<html class="no-js js-menubar">
  <head>
    <title>Sunny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="animsition page-login-v3 layout-full" style="animation-duration: 800ms; opacity: 1;">
    <div id="hello">
      <el-container direction="vertical">
        <el-main>
          <%= yield %>
        </el-main>
      </el-container>
    </div>
  </body>
</html>
